<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://epipugpigdemo.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>epipugpigdemo.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>epipugpigdemo</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$epipugpigdemo</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="EPiServerAzureEvents" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:vcrldbqwe7.database.windows.net,1433;Initial Catalog=epipugpAtV70hNBV;User ID=iMackers@vcrldbqwe7;Password=fr33W!1ly" Name="Data Source=tcp:vcrldbqwe7.database.windows.net,1433;Initial Catalog=epipugpAtV70hNBV;User Id=iMackers@vcrldbqwe7;Password=fr33W!1ly" />
          <Object Type="DbDacFx">
            <PreSource Path="Endpoint=sb://epipugpigdemo.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=pb3Tcj82nuRkM9+S1WZbMQkk4zBPaKBrxVFw9CpvgbY=" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\EPiServerAzureEvents_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Endpoint=sb://epipugpigdemo.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=pb3Tcj82nuRkM9+S1WZbMQkk4zBPaKBrxVFw9CpvgbY=" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="EPiServerAzureBlobs" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:vcrldbqwe7.database.windows.net,1433;Initial Catalog=epipugpAtV70hNBV;User ID=iMackers@vcrldbqwe7;Password=fr33W!1ly" Name="Data Source=tcp:vcrldbqwe7.database.windows.net,1433;Initial Catalog=epipugpAtV70hNBV;User Id=iMackers@vcrldbqwe7;Password=fr33W!1ly" />
          <Object Type="DbDacFx">
            <PreSource Path="DefaultEndpointsProtocol=https;AccountName=epipugpigdemo;AccountKey=yXQ8OJxnA2yA0+3BR2iJcc3JMwBR8m1jNYcE1wGnMJ+YyH6QhBiD+mARZVi8BvveRt6HmN0OQgdVTv3aYAf7gA==" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\EPiServerAzureBlobs_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DefaultEndpointsProtocol=https;AccountName=epipugpigdemo;AccountKey=yXQ8OJxnA2yA0+3BR2iJcc3JMwBR8m1jNYcE1wGnMJ+YyH6QhBiD+mARZVi8BvveRt6HmN0OQgdVTv3aYAf7gA==" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="EPiServerDB" Order="3" Enabled="True">
          <Destination Path="Data Source=tcp:vcrldbqwe7.database.windows.net,1433;Initial Catalog=epipugpAtV70hNBV;User ID=iMackers@vcrldbqwe7;Password=fr33W!1ly" Name="Data Source=tcp:vcrldbqwe7.database.windows.net,1433;Initial Catalog=epipugpAtV70hNBV;User Id=iMackers@vcrldbqwe7;Password=fr33W!1ly" />
          <Object Type="DbDacFx" Enabled="False">
            <PreSource Path="Data Source=tcp:vcrldbqwe7.database.windows.net,1433;Initial Catalog=epipugpigAtV70hNBV;Integrated Security=False;User ID=iMackers@vcrldbqwe7;Password=fr33W!1ly;Connect Timeout=30;Encrypt=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\EPiServerDB_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:vcrldbqwe7.database.windows.net,1433;Database=epipugpigAtV70hNBV;User ID=iMackers@vcrldbqwe7;Password=fr33W!1ly;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;MultipleActiveResultSets=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
          <Object Type="DbFullSql" Enabled="False">
            <Source Path="packages\EPiServer.CMS.Core.7.16.0\tools\EPiServer.Cms.Core.sql" Transacted="False" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)EPiServerAzureBlobs-Web.config Connection String">
      <ParameterValue>Data Source=tcp:vcrldbqwe7.database.windows.net,1433;Initial Catalog=epipugpAtV70hNBV;User Id=iMackers@vcrldbqwe7;Password=fr33W!1ly</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)EPiServerAzureEvents-Web.config Connection String">
      <ParameterValue>Data Source=tcp:vcrldbqwe7.database.windows.net,1433;Initial Catalog=epipugpAtV70hNBV;User Id=iMackers@vcrldbqwe7;Password=fr33W!1ly</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)EPiServerDB-Web.config Connection String">
      <ParameterValue>data source=tcp:vcrldbqwe7.database.windows.net,1433;initial catalog=epipugpAtV70hNBV;user id=iMackers@vcrldbqwe7;password=fr33W!1ly;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>